<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/fullpagelayout.html}">

<head>
	<title>Reset Account Password</title>
</head>

<th:block layout:fragment="breadcrum">
	<div class="page-header" th:style="@{background: ~/assets/img/banner1.jpg;}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="product-title">Reset Account Password</h2>
						<ol class="breadcrumb">
							<li><a th:href="@{~/customer/login}">Login /</a></li>
							<li class="current">Forgot Password Reset Password</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="pagecontent">
	<section class="register section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-12 col-xs-12">
					<div class="register-form login-area">
						<h3>
							Reset Account Password
						</h3>
						
						<form class="login-form" th:object="${resetPasswordForm}" th:action="@{/resetpassword}" method="post">
							<input type="hidden" name="userAccountNo" th:field="*{userAccountNo}"/>							
							<div class="form-group">
								<div class="input-icon">
									Proceed to reset the password of your account below.									
								</div>
							</div>
							<div class="form-group">
								<div class="input-icon">
									<i class="lni-lock"></i>
									<input type="password" id="password" class="form-control" name="password"
										placeholder="Password" maxlength="13">
									<p class="alert alert-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"}>&nbsp;</p>																												
								</div>
								<div class="input-icon">
									<i class="lni-lock"></i>
									<input type="password" id="reTypePassword" class="form-control" name="reTypePassword"
										placeholder="ReType password" maxlength="13">
									<p class="alert alert-danger" th:errors="*{reTypePassword}" th:if="${#fields.hasErrors('reTypePassword')}"}>&nbsp;</p>																												
								</div>
							</div>
							
							<div class="text-center">
								<button class="btn btn-primary log-btn">Change Password</button>
								<a class="btn btn-danger" th:href="@{/customer/login}">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>